.MatchDetailCard {
    
    & > p {
        margin-bottom: 10px;
    }

    .last-game-score {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .goals-section {
        text-decoration: solid;
    }
}