.MatchDetailCard {
    margin-bottom: 10px;
    min-height: 140px;
    & > p {
        margin-bottom: 10px;
    }

    .last-game-score {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .goals-section {
        text-decoration: solid;
        
    }
}