.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.70fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;

    .team-name-section {
        grid-column: span 4;
        justify-self: start;
        align-self: center;
    }

    .team-name {
        font-size: 4rem;
    }

    .win-loss-section {
        justify-self: center;
    }

    .match-detail-card{
        grid-column: span 5;
        text-align: center;
        display: block;
    }

        .last-match-head {
            color: white
        }

    .more-link {
        align-self: center;
        justify-self: center;
        font-size: 1.5rem;
    }
}